<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }} - Rock, Paper, Scissors</title>
</head>
<body>
    <header>
        <h1>Rock, Paper, Scissors!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/welcome">Welcome</a>
                </li>
                <li>
                    <a href="/computer">Play the Omniscient Computer!</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>