{% extends "base.html" %}

{% block content %}
<h2>Welcome!</h2>
<article>
    <p>
        This game is simple: 
    </p>
    <p>
        Paper beats Rock
    </p>
    <p>
        Rock beats Scissors
    </p>
    <p>
        Scissors beats Paper
    </p>
    <p>
        Each player should enter their name and select their preferred tool.
    </p>
    <p>
        If playing against the computer, navigate to the page via the link at the top right, and enter your details.
    </p>
</article>

{% endblock %}